# set working

In [4]:
a={"apple","cat","donkey"}
print(type(a))

<class 'set'>

## checking the occurance in set

In [5]:
"apple" in a

True

In [6]:
"shabaz" in a

False

In [7]:
for v in a:
    print(v)

donkey
apple
cat

In [8]:
len(a)

3

## how to add data on set

In [12]:
a.add("dog")
a.add(4)
a

{4, 'apple', 'cat', 'dog', 'donkey'}

## how to merge two set

In [13]:
b={"1","2","3"}

In [15]:
a.update(b)
a

{'1', '2', '3', 4, 'apple', 'cat', 'dog', 'donkey'}

## how to remove

In [16]:
a.remove("donkey")
a

{'1', '2', '3', 4, 'apple', 'cat', 'dog'}

In [17]:
a.discard(4)
a
#discard and remove  work as same

{'1', '2', '3', 'apple', 'cat', 'dog'}

In [20]:
a.pop()

'2'

In [21]:
a
# pop will delete the item in randomly

{'1', '3', 'apple', 'dog'}

# set function

In [30]:
a={1,2,3,4}
b={1,4,6,7}

In [23]:
a.intersection(b)

{1, 4}

In [24]:
a.union(b)

{1, 2, 3, 4, 6, 7}

# difference

In [25]:
a.difference(b)
#value present in a but not in b

{2, 3}

In [27]:
# symmetric_difference means union-intersection
a.symmetric_difference(b)

{2, 3, 6, 7}

# storing the intersection value on set

In [29]:
a.intersection_update(b)
a
#intersection_update means it will discard the previous value and update with the intersection value
# also we can do 
#difference_update()
#symmetric_difference_update()
#intersection_update()
#but not union_update()‚ùå

{1, 4}

In [31]:
a

{1, 2, 3, 4}

In [32]:
b

{1, 4, 6, 7}

In [36]:
c={4,6}
c

{4, 6}

In [39]:
print(a.issubset(b))
print(c.issubset(b))

False
True

In [40]:
b.issuperset(c)

True

In [41]:
d={7,8}
d

{7, 8}

In [43]:
a.isdisjoint(d)
#disjoint means completely different set of a and d

True