In [1]:
import sqlite3

In [3]:
db=sqlite3.connect("IMDB.sqlite") # to conncet the sqlite 
db

In [4]:
cur=db.cursor() # to acess the db we need to have cursor object
cur

In [5]:
sql_query='Create table Student(rollnumber int primary key,name text,age int)'
cur.execute(sql_query) # to execute the query

In [8]:
cur.execute('Insert into Student values(101,"prasant",21)') # to insert into data base

In [9]:
db.commit()

In [11]:
rollnumber=102
name="snehal"
age=22
cur.execute('Insert into Student values(?,?,?)',(rollnumber,name,age))
db.commit()

In [16]:
value=[(107,'sanjay',20),(108,'jitu',21),(109,'sandy',23)]
cur.executemany('Insert into Student values(?,?,?)',value)  # to insert multiple value at a time
db.commit()

In [ ]:
cur.execute('Update Student set age=19') 
db.commit()

In [22]:
cur.execute('select * from Student')

In [28]:
for row in cur:
    print(row)

(102, 'snehal', 22)
(103, 'sanjay', 20)
(104, 'jitu', 21)
(105, 'sandy', 23)
(107, 'sanjay', 20)
(108, 'jitu', 21)
(109, 'sandy', 23)

In [29]:
cur.execute('select * from Student')
cur.fetchone()

(101, 'prasant', 21)

In [32]:
cur.execute('select * from Student')
print(cur.fetchmany(3)) # if we didn't pass number it will 1 row only

[(101, 'prasant', 21), (102, 'snehal', 22), (103, 'sanjay', 20)]

In [31]:
cur.execute('select * from Student')
cur.fetchall()

[(101, 'prasant', 21),
 (102, 'snehal', 22),
 (103, 'sanjay', 20),
 (104, 'jitu', 21),
 (105, 'sandy', 23),
 (107, 'sanjay', 20),
 (108, 'jitu', 21),
 (109, 'sandy', 23)]